a, a:hover  {
  text-decoration: none;
}

#container {
  margin: 0 auto;
  width: 50em;
}

.ascii {
  float: left;
  margin: 10px;
  padding: 5px;
  position:relative;
  border-radius: 15px;
}

.score {
  position: absolute;
  top:0;
  right:0;
  height:30px;
  width:30px;
  border-radius: 15px;
  z-index:11;
  cursor: pointer;
}

.song {
  font-family: Arial, Helvetica, sans-serif;
}

.song p {
  padding-top: 5px;
}
